src/node_modules
src/storage/
src/public/storage
src/public/js
src/public/css
src/public/.DS_Store
src/storage/log
/public/hot
/public/storage
/storage/*.key
/vendor
src/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
sftp.json
settings.json
coding_data
.DS_Store
